.custom-banner___button {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.custom-banner {
    position:relative;
    padding:80px 20px;
}

.custom-banner___button:hover {
    transform: translateY(-3px);
}

.custom-grid-wrapper {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 24px
}
.custom-grid__item {
    position:relative;
}
.custom-grid__image img {
    width:100%;
    display: block;

}

.custom-grid__button {
   margin-top:16px;
   cursor:pointer;
}

.product-popup {
    position:fixed;
    inset:0;
    display:none;
    z-index:99;
}

.product-popup.active {
    display:block;
}
.product-popup__overlay {
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
}
.product-popup__content {
    position:relative;
    width:90%;
    max-width:900px;
    margin:50px auto;
    background #fff;
    z-index:2;
    padding:30px;
}

.product-popup__inner {
    display:flex;
    gap:20px;
}
.variant-button {
    margin-right:10px;
}

a.NavBar-button_text {
    background: #FFF544;
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20.48px;
    text-align: center;
    text-transform: uppercase;
}
.Custom-NavBar {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.NavBar-BrandTitle img {
    height: 19px;
    width: 150px;
}



.custom-banner___image img {
    width: 100%;
}


@media screen and (max-width:768px) {
    .custom-grid-wrapper {
        grid-template-columns:1rf;
    }
    .product-popup__inner {
        flex-direction:column;
    }
}

