.custom-banner___button {
    font-family: Jost;
    padding: 14px 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background: #000000;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    gap: 29px;
    align-items: center;
}


.custom-banner__content {
    max-width: 483px;
    margin: 0 67px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}
.custom-banner {
    position:relative;
    padding:80px 20px;
}

.custom-banner___button:hover {
    transform: translateY(-3px);
}

.custom-grid-wrapper {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 24px
}
.custom-grid__item {
    position:relative;
}
.custom-grid__image img {
    width:100%;
    display: block;

}

.custom-grid__button {
   margin-top:16px;
   cursor:pointer;
}

.product-popup {
    position:fixed;
    inset:0;
    display:none;
    z-index:99;
}

.product-popup.active {
    display:block;
}
.product-popup__overlay {
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
}
.product-popup__content {
    position:relative;
    width:90%;
    max-width:900px;
    margin:50px auto;
    background #fff;
    z-index:2;
    padding:30px;
}

.product-popup__inner {
    display:flex;
    gap:20px;
}
.variant-button {
    margin-right:10px;
}

a.NavBar-button_text {
    background: #FFF544;
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20.48px;
    text-align: center;
    text-transform: uppercase;
}
.Custom-NavBar {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.NavBar-BrandTitle img {
    height: 19px;
    width: 150px;
}
.custom-grid_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
section.custom-grid {
    margin: 90px 50px 50px;
}
.custom-banner___image img {
    width: 100%;
    max-height: 780px;
}
h1.custom-banner__heading {
    font-family: Jost;
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
}
p.custom-banner___text {
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
}
button.custon-grid__button.js-open-popup {
    background: #F8F8F8E5;
    border: 0;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    font-size: 17px;
    position: absolute;
}
.custom-grid_item {
    position: relative;
}


@media screen and (max-width:768px) {
    .custom-grid_wrapper {
        grid-template-columns:1rf;
    }
    .product-popup__inner {
        flex-direction:column;
    }
}

