.custom-banner___button {
    font-family: Jost;
    padding: 14px 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background: #000000;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    gap: 29px;
    align-items: center;
}

.custom-banner {
    position:relative;
    padding:80px 20px;
}

.custom-banner___button:hover {
    transform: translateY(-3px);
}

.custom-grid-wrapper {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 24px
}
.custom-grid__item {
    position:relative;
}
.custom-grid__image img {
    width:100%;
    display: block;

}

.custom-grid__button {
   margin-top:16px;
   cursor:pointer;
}

.product-popup {
    position:fixed;
    inset:0;
    display:none;
    z-index:99;
}

.product-popup.active {
    display:block;
}
.product-popup.active .product-popup__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #00000080;
    z-index: 2;
    display: block;
}
div#color-options {
    border: .5px solid #000000;
    height: 40px;
    overflow: hidden;
}
img#popup-image {
    object-fit: cover;
}
.color-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    transition: left 0.5s ease;
    z-index: -1;
}
button.color-button.active {
    background: #000;
    color: #fff;
}
.color-button.active::before{
    left: 0;
}
button.color-button {
    height: 40px;
    background: #fff;
    border: 0;
    position: relative;
    display: inline-flex;
    width: 50%;
    align-items: center;
    gap: 9px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    transition: color .5s ease;
}

span.color-dot {
    width: 5.81px;
    display: inline-block;
    height: 100%;
    border: 0.5px solid #000000;
}
h2#popup-title {
    font-family: Jost;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 2px 0 10px;
    min-height:38px;
}
div#popup-price {
    font-family: Lustria;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #000000;
}
div#popup-description p {
    font-family: Jost;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -1%;
        display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
button.product-popup__close {
    background: #fff;
    border: 0;
    position: absolute;
    right: 15px;
    top: 12px;
    padding: 0;
    height: 12px;
    width: 12px;
    cursor:pointer;
}
.product-popup__content {
    position: relative;
    background-color: #fff;
    width: 90%;
    max-width: 311px;
    margin: 50px auto;
    z-index: 2;
    padding: 25px 20px;
    box-shadow: 0px 2px 4px 0px #00000033;
}

.product-popup__image-title {
    display:flex;
    gap: 8px;
}
.variant-button {
    margin-right:10px;
}

a.NavBar-button_text {
    background: #FFF544;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 22px;
    color: #000;
    text-decoration: none;
    display: flex;
    gap: 18px;
    align-items: center;
}
.Custom-NavBar {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.NavBar-BrandTitle img {
    height: 19px;
    width: 150px;
}
.custom-grid_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
section.custom-grid {
    margin: 90px 50px 50px;
}
.custom-banner___image img {
    width: 100%;
    max-height: 780px;
}
h1.custom-banner__heading {
    font-family: Jost;
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
}
p.custom-banner___text {
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #000;
    margin: 50px 0;
    
}
.custom-banner__description {
    background: #F5F5F5;
    padding: 10px 50px;
}
.custom-banner__description p {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 13.42px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;    
    vertical-align: middle;
}
button.custon-grid__button.js-open-popup {
    background: #F8F8F8E5;
    border: 0;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    font-size: 18px;
    position: absolute;
    cursor:pointer;
}

.custom-grid_item {
    position: relative;
}
.blue-silk-tuxedo button.custon-grid__button {
    top: 50%;
    right: 11%;
}
.chequered-red-shirt button.custon-grid__button {
    top: 20%;
    right: 33%;
}
.black-leather-bag button.custon-grid__button {
    bottom: 41%;
    left: 60%;
}
.classic-leather-jacket .custon-grid__button {
    top: 17%;
    right: 23%;
}
.classic-varsity-top .custon-grid__button {
    top: 22%;
    right: 46%;
}
.dark-denim-top .custon-grid__button {
    top: 37%;
    right: 19%;
}


.custom-select-wrapper{
    position: relative;
}
.custom-arrow {
    font-size: 14px;
    width: 55px;
    border-left: .5px solid #000000;
    padding: 8px 20px;
    height: 40px;
}
.popup-option-group label {
    color: #000;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    margin-bottom: 6px;
    display: block;
}
button#popup-add-to-cart {
    width: 100%;
    height: 45px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    margin-top:51px;
    text-transform: uppercase;
}
.custom-select-trigger {
    background: #fff;
    height: 40px;
    padding-left:13px;
    cursor: pointer;
    font-size: 16px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:0.5px solid #000000;
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 0 !important;
    border: .5px solid #000;
    background: #fff;
    overflow: hidden;
    display: none;
    z-index: 10;
}

.custom-options.active{
    display: block;
}

.custom-option{
    padding: 14px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.custom-option:hover{
    background: #f3f6fb;
}
.custom-banner__content {
    max-width: 483px;
    margin: 51px 67px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}
.custom-arrow{
    font-size: 14px;
    width:55px;
    border-left: 0.5px solid #000000;
}


@media screen and (max-width:768px) {
    .custom-grid_wrapper {
        grid-template-columns:1rf;
    }
    .product-popup__inner {
        flex-direction:column;
    }
}

